<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842658772918-4ln57j5rgdkjb4adunuv19q1690l8psl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842658772918-4ln57j5rgdkjb4adunuv19q1690l8psl</string>
	<key>API_KEY</key>
	<string>AIzaSyCIttVjM9AiqlZdxndGob6EWZ6uFx0_I5U</string>
	<key>GCM_SENDER_ID</key>
	<string>842658772918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eMart</string>
	<key>PROJECT_ID</key>
	<string>e-mart-2ef4a</string>
	<key>STORAGE_BUCKET</key>
	<string>e-mart-2ef4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842658772918:ios:15c35399a7bda0124fb317</string>
</dict>
</plist>